<div class="docyard-code-block<%= ' docyard-code-block--line-numbers' if @show_line_numbers %><%= ' docyard-code-block--highlighted' if @highlights&.any? %>">
  <% if @show_line_numbers %>
  <div class="docyard-code-block__lines" aria-hidden="true">
    <% @line_numbers.each do |num| %>
    <% if @highlights&.include?(num) %><span class="docyard-code-block__line--highlighted"><%= num %></span><% else %><span><%= num %></span><% end %>
    <% end %>
  </div>
  <% end %>
  <div class="docyard-code-block__content">
    <%= @code_block_html %>
  </div>
  <button class="docyard-code-block__copy" aria-label="Copy code to clipboard" data-code="<%= @code_text %>">
    <%= @copy_icon %>
  </button>
</div>
