<% has_social = @social&.any? %>
<% show_footer = has_social || @credits || @copyright %>

<% if show_footer %>
<div class="site-footer">
  <% if has_social %>
  <div class="site-footer__socials">
    <% @social.each do |social| %>
    <a href="<%= social[:url] %>" class="site-footer__link" target="_blank" rel="noopener noreferrer" aria-label="<%= social[:platform].capitalize %>">
      <%= icon(social[:icon]) %>
    </a>
    <% end %>
  </div>
  <% end %>

  <div class="site-footer__credits">
    <% if @credits %>
    <a href="https://docyard.org" target="_blank" rel="noopener noreferrer" class="site-footer__attribution">Built with Docyard</a>
    <% end %>
    <% if @copyright %>
    <span class="site-footer__copyright"><%= icon(:copyright) %> <%= @copyright %></span>
    <% end %>
  </div>
</div>
<% end %>
