<% if @show_edit_link || @show_last_updated %>
<div class="git-info">
  <% if @show_edit_link && @edit_url %>
  <a href="<%= @edit_url %>" class="git-info__edit-link" target="_blank" rel="noopener noreferrer">
    <%= icon(:pencil_simple_line) %>
    Edit this page
  </a>
  <% end %>
  <% if @show_last_updated && @last_updated %>
  <div class="git-info__last-updated">
    Last updated <time datetime="<%= @last_updated[:iso] %>" title="<%= @last_updated[:formatted] %>"><%= @last_updated[:relative] %></time>
  </div>
  <% end %>
</div>
<% end %>
