<header class="header">
  <div class="header-content">
    <a href="<%= link_path('/') %>" class="header-logo">
      <% if @display_logo %>
      <div class="site-logo-container">
        <% if @logo %>
        <img src="<%= asset_path(@logo) %>" alt="<%= @site_title %>" class="site-logo site-logo-light">
        <% end %>
        <% if @logo_dark %>
        <img src="<%= asset_path(@logo_dark) %>" alt="<%= @site_title %>" class="site-logo site-logo-dark">
        <% else %>
        <img src="<%= asset_path(@logo) %>" alt="<%= @site_title %>" class="site-logo site-logo-dark">
        <% end %>
      </div>
      <% end %>
      <% if @display_title %>
      <span class="header-title"><%= @site_title %></span>
      <% end %>
    </a>

    <% if @search_enabled %>
    <div class="header-center">
      <%= render_partial('_search_trigger') %>
    </div>
    <% end %>

    <div class="header-actions">
      <%= render_partial('_theme_toggle') %>
    </div>
  </div>
</header>
