<% if @has_tabs && @tabs&.any? %>
<nav class="tab-bar" aria-label="Main navigation">
  <div class="tab-bar-content">
    <% @tabs.each do |tab| %>
    <a href="<%= tab[:external] ? tab[:href] : link_path(tab[:href]) %>"
       class="tab-item<%= ' is-active' if tab[:active] %>"
       <%= 'target="_blank" rel="noopener noreferrer"' if tab[:external] %>
       data-tab-href="<%= tab[:href] %>">
      <% if tab[:icon] %>
      <span class="tab-icon"><%= icon(tab[:icon]) %></span>
      <% end %>
      <span><%= tab[:text] %></span>
      <% if tab[:external] %>
      <svg class="tab-external-icon" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path>
        <polyline points="15 3 21 3 21 9"></polyline>
        <line x1="10" y1="14" x2="21" y2="3"></line>
      </svg>
      <% end %>
    </a>
    <% end %>
    <div class="tab-indicator" id="tabIndicator"></div>
  </div>
</nav>
<% end %>
